<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drowsiness Detection</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <a href="{{ url_for('index_view') }}">
                <img src="/static/images/image_2024-12-13_165041038-removebg-preview.png" alt="Logo" class="logo">
            </a>
        </div>
        <div class="navbar-links">
            <a href="{{ url_for('standard_view') }}">Standard View</a>
            <a href="{{ url_for('standard_ai_view') }}">Standard and AI View</a>
        </div>
    </nav>
    <h1>Driver Drowsiness Detection (DDD)</h1>
    <div class="centered-image">
        <img src="/static/images/osak.png" alt="Project Image">
    </div>
    <div class="footer-text">
        <p>Project made by <strong><a href="https://github.com/yion81">yion81</a></strong></p>
    </div>
</body>
</html>
